body {
    background-color: #0033CC;
    margin-left: 2cm;
    margin-top: 2cm;
}



pre {
    text-align: left;
    font-family: sans-serif;
    font-size:150%
    white-space: pre-line;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

h1 {text-align: left;
    font-family: sans-serif;
    font-size:150%
    white-space: pre-line;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
    

table {
    background-color: #0033CC;
    width: 800px;
    height: 600px;
    margin-top: 1cm;
    white-space: pre-line;
    font-family: sans-serif;
    border-collapse: collapse;
    table-layout: fixed;
}



th, td {
    text-align: center;
    vertical-align: center;
    border: 5px solid black;
    padding: 6px;
}


th {
    font-weight: bold;
    font-size:120%;
    color: #FFFFCC;
}

td {
    font-size: 200%;
    color: yellow;
    height:80px;
}




table * a {
    color:yellow;
    text-decoration: none;
}

table * a:hover {
    color:#FFFFCC;
}

table * a:visited {
    color:yellow;
}


a {
    color: yellow;
    text-decoration: none;
}

a:hover {
    color:#FFFFCC;
}

.startover {
    text-align: left
}
a.startover:link {
    color: #E08566;
}

a.startover:visited {
    color:#AD5C5C;
}

a.startover:hover {
    color:#FA9F80;
}

a.startover:active {
    color:#C77676;
}
