body {
    background-color: #000029;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

table.jGameBoard {
    background-color: #0033CC;
    color: yellow;

    font-family: sans-serif;

    width: 200%;

}

th {
    height: 100px;
}

table.jGameBoard * td {
    border: 2px solid yellow;
    padding: 4px;
}

tr.jHead td {
    text-align:center;
}

tr.jBoard {
    font-weight: bold;
    font-size: 200%;
}

table.jGameBoard * a {
    color:yellow;
    text-decoration: none;
}

table.jGameBoard * a:hover {
    color:orange;
}

table.jGameBoard * a:visited {
    color:yellow;
}



a {
    color:yellow;
    text-decoration: none;
}

a:hover {
    color:orange;
}
