{% extends "Jlayout.html" %}

{% block title %}Instruction{% endblock %}


{% block header %}

<h1>Instructions:</h1>

{% endblock %}



{% block content %}



<h3>
  <ul>
   <li>Choose a catagory and an amount.</li>
   <li>Click on it to go to the question page.</li>
   <li>When you are ready, click on the question to see the answer.</li>
   <li>Click on the answer to go back to the game board.</li>
   <li>Click "End Game" to go back to the game selection page.</li>
  </ul>
</h3>

<h1><a href='/Jucsd'>OK</a></h1>

{% endblock %}
