{% extends "Jlayout.html" %}

{% block title %}UCSD Jeopardy{% endblock %}

{% block content %}


<img src="{{ url_for('static', filename='jeopardy-logo-03.png') }}" alt="JEOPARDY!">

<table class="jGameBoard">
  <tr class="jHead"></tr>
    <th>History</th>
    <th>Student Life</th>
    <th>Campus Services</th>
    <th>Colleges</th>
    <th>People</th>
    <th>Academics</th></tr>

  {% for j in range(100, 501, 100) %}
  <tr class="jBoard">
  {% for i in range(6) %}
   <td>{% if not (i+j)|string in session %}<a href='/Qucsd/{{ i }}/{{ j }}'>$<strong>{{ j }}</strong></a>{% endif %}</td>
  {% endfor %}
  </tr>
  {% endfor %}

</table>


<h1><a href='/startOver' class='startover'>End Game</a></h1>
{% endblock %}
